.resaltar {
  color: #65326b;
  font-weight: bold;
}

h2 {font-size: 1.7em;
    font-weight: normal;
    line-height: 1.5em}

#header {
  border-bottom: 1px solid #ddd;
}
.mainLogo {
  width:175px;
  display:inline;
  margin: 20px 0;
}

.content {padding:30px;}

.form {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:0px;
}

.form h1 {
  background-color: #EAEAEA;
  color: #65326b;
  margin: 0;
  padding: 20px;
  border-radius: 4px 4px 0 0;
  font-size: 2em;
  text-align: center;
}

.subhead {
    background-color: #65326b;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0px;
}

.info {padding-right: 50px;}

.benefits {margin:10px 0 80px 0;}
.benefits h2 strong {color:#65326b;}
.benefits ul {padding-left: 10px;}
.benefits li {
  list-style: none;
  padding-top: 30px;
}

.benefits i, .testimonial i, .testimonial span {color:#65326b;}

.testimonial {
  border-top: 1px solid #dadada;
  padding-top:50px;
}

.precio h2 {
    margin-top: 60px;
    border-top: 3px solid #65326b;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}

.form-group {vertical-align:middle;}
.form-group span {
    position: absolute;
    font-size: 1em;
    color: #d6d6d6;
    border-right:1px solid #ddd;
    padding: 3px 8px;
    margin-top: 7px;
    margin-left: 1px;
}

.form-group input {
    padding-left: 2.5em;
}


.form a:hover {text-decoration: none;}

.field {
  display:block;
  padding: 20px 15px 5px 15px;
  background-color: #EAEAEA;
}


.cta {text-align: center;}

.cta span {
  position:relative;
  border:none;
  color:#fff;
  padding: 10px 30px;
}
.footer {
  margin-top: 50px;
  padding: 50px ;
  background-color: #F3F3F3;
  border-radius: 4px;
}

.footer h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-top: 10px;
  line-height:1.5em;
  text-align: center;
}

.footer h2 span {
  font-size: 1.5em;
}

/*Error*/
.DatoMal, .InfoDatoMal, .alert-error {
    background-color: #FFEFEE;
    border-color: #cf6a6a;
    color: #bb1917;
  }

.alert-error {margin-bottom: 0px;}

.form-group .DatoMal::-webkit-input-placeholder {
   color: #bb1917;
}

.form-group .DatoMal:-moz-placeholder { /* Firefox 18- */
   color: #bb1917;  
}

.form-group .DatoMal::-moz-placeholder {  /* Firefox 19+ */
   color: #bb1917;  
}

.form-group .DatoMal:-ms-input-placeholder {  
   color: #bb1917;  
}


/*Bootstrap Overwrite*/

.btn-primary {
  background-color: #F37922;
  border:transparent;
  padding: 10px 50px;
}

.btn-primary:hover, .btn-primary:active:focus {
  background-color: #f26304;
}

.small {
  text-align: center;
  margin-bottom: 30px;
  color:#8a8a8a;
}


/*Breakpoints*/

@media   (min-width: 220px) and (max-width: 451px) {
  .form h1 {font-size: 1.5em;}
}

/*Phones*/    
@media (min-width: 200px) and (max-width: 768px) {
  h2 {font-size: 1.5em}
  .info {
    padding-right: 0px;
    margin-top: 50px;
  }
  .testimonialPhoto {
    text-align: center;
    margin-bottom: 30px;
}
  .testimonialName {
    float: none !important;
    text-align: center;
  }
  .footer {
  padding-right: 0px;
  margin-top: 100px;
  }


}

/*Tablets*/
@media (min-width: 769px) and (max-width: 991px) {
  h2 {font-size: 1.6em}
  .info {
    padding-right: 0px;
    margin-top: 50px;
  }
  .testimonialPhoto {
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonialName {
    float: none !important;
    text-align: center;
  }
}

/*Desktops*/
@media (min-width: 991px) and (max-width: 1199px){
}

/*Extras*/
