<div class="container-fluid">
    <div class="row"> 
      	<form>
      		<div class="form-group input-group-sm">
      			<label>Selecciona la plantilla</label>
	      		<input type="file"class="form-control"></input>
	      		<h5>*Solo archivos con extensión .html .shtml</h5>
	  		</div>
		    <div class="form-group input-group-sm">
		    	<label>Descripción del archivo</label>
		     	<textarea class="form-control" placeholder="Descripción..."></textarea>
		    </div>  
      	</form>
  </div>
</div>