<div class="container-fluid">
    <div class="row"> 
		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home">Descripcion general</a></li>
		    <li><a data-toggle="tab" href="#contenido">Contenido</a></li>
		    <li><a data-toggle="tab" href="#seo">SEO</a></li>
		    <li><a data-toggle="tab" href="#extras">Snippets</a></li>
		</ul>
		<div class="tab-content">
	    	<div id="home" class="tab-pane fade in active">
		      	<form>
		      		<div class="form-group input-group-sm">
		      			<label>Titulo del articulo</label>
			      		<input class="form-control"></input>
			  		</div>
			  		<div class="form-group input-group-sm">
		      			<label>URL del articulo</label>
			      		<input class="form-control"></input>
			  		</div>
				    <div class="form-group input-group-sm">
				    	<label>Seleciona la imagen</label>
		                <select class="form-control ">
		                    <option value="1">imagen1</option>
		                    <option value="2">imagen2</option>
						</select>
				    </div>
				    <div class="form-group input-group-sm">
				    	<label>Bajada</label>
				     	<textarea class="form-group" cols="78" rows="3"></textarea>
				    </div>  
				    <div class="form-group input-group-sm">
				    	<label>Desripción corta</label>
				      	<textarea class="form-group" cols="78" rows="3"></textarea>
				    </div>
				    <div class="form-group input-group-sm" id="boxFrecuencia"> 
		                <label for="autor">Selecciona el autor</label>
		                <select name="autor" id="autor" class="form-control">
		                    <option value="1">autor1</option>
		                    <option value="2">autor2</option>
		                    <option value="3">autor3</option>
		                </select>
		            </div>
		      	</form>
	    	</div>
	    	<div id="contenido" class="tab-pane fade">   		
	    		<h3>Contenido del articulo</h3>
			    <div class="form-group input-group-sm">			    	
			      	<textarea id="contenidoArticulo" class="form-group" cols="78" rows="3"></textarea>
			    </div>
	    	</div>
		    <div id="seo" class="tab-pane fade">
			    <div class="input-group-sm">
				    <div class="form-group input-group-sm">
				    	<label>Tag keyword</label>
				    	<input class="form-control"></input>
				  	</div>
				    <div class="form-group input-group-sm">
				    	<label>Tag description</label>
				    	<input class="form-control"></input>
				    </div>
			  	</div>
		    </div>

		    <div id="extras" class="tab-pane fade">
		      <div class="form-group input-group-sm">
		      <label>Header</label>	
		      <textarea class="form-group" cols="78" rows="3"></textarea>
		      <label>Footer</label>	
		      <textarea class="form-group" cols="78" rows="3"></textarea>
		      <label>Banner</label>	
		      <textarea class="form-group" cols="78" rows="3"></textarea>
		      </div>
		    </div>
  	</div>
  </div>
</div>
