.principal-head{
    background-color: #a5afac;
    padding: 177px;
}
.suscribete{
    background-color: #dfe8e6;
    padding: 132px;
    padding-top: 129px;
    width: 0px;
    margin: 35px 42px;
}
.busca{
    margin: 35px 42px;
}
.categorias{
    background-color: #dfe8e6;
    padding: 132px;
    padding-top: 129px;
    width: 0px;
    margin: 35px 42px;
}

.page
{
    width: 960px;
    margin: 0px auto;
}

.list-of-posts
{
    min-height:700px;  
}

.pagination li
{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 14px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination li:hover
{
    
 z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination ul
{
}

.active-class
{
	background-color: white;
    border:1px solid black;
    color: black;	
}