#loginForm img {margin:0 0 0 30%;}
.panel-info{border-color: #7C3E84;}
.panel-info > .panel-heading{
	background: #7C3E84;
	color: #fff;
}



.btn.btn-success{background-color: #F48E21;border-color: #F48E21;}