body {
  padding-top: 50px;
}
p {font-size:16px;}
@media screen and (min-width: 768px){
h2{font-size: 4em; line-height: 1.1; font-weight: 700;}
}
h3 {font-weight: 200; line-height: 1.5; margin-top: 0px}
footer {background-color: #222; color:#9d9d9d; padding:15px;}
footer a {color:#9d9d9d; text-decoration: underline;}
footer a:hover, footer a:active, footer a:focus {color:#dadada;}

/* Genéricos */
.mb20 {margin-bottom: 20px!important;}
.mb40 {margin-bottom: 40px!important;}
/*.fancybox {display:block;}*/
.vcenter {display: flex; align-items: center;}
@media screen and (max-width: 991px){
.vcenter {display: block;}
}
input {border-radius: 0px!important;}
.divider {border-bottom:1px solid rgba(255, 255, 255, 0.43); padding-bottom: 20px;}

/* Buttons */
.btn {border-radius: 0px;}
.btn-primary {color: #fff; background-color: #f3893d; border-color: #f3893d;}
.btn-primary.focus,.btn-primary:focus {color: #fff; background-color: #DE8115; border-color: #DE8115;}
.btn-primary:hover {color: #fff; background-color: #DE8115; border-color: #DE8115;}
.btn-primary.active,.btn-primary:active {color: #fff; background-color: #DE8115; border-color: #DE8115;}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover {color: #fff;background-color: #B7680D;border-color: #B7680D;}
.btn.btn-secondary-outline, .btn.btn-secondary-outline-inverse {border-width:2px;}
.btn-secondary-outline {color: #7c3d83;background-color: transparent;background-image: none;border-color: #7c3d83;}
.btn-secondary-outline.focus,.btn-secondary-outline:focus {color: #fff;background-color: #7c3d83;border-color: #7c3d83;}
.btn-secondary-outline:hover {color: #fff;background-color: #7c3d83;border-color: #7c3d83;}
.btn-secondary-outline.active,.btn-secondary-outline:active {color: #fff;background-color: #7c3d83;border-color: #7c3d83;}
.btn-secondary-outline.active.focus,.btn-secondary-outline.active:focus,.btn-secondary-outline.active:hover,.btn-secondary-outline:active.focus,.btn-secondary-outline:active:focus,.btn-secondary-outline:active:hover {color: #fff;background-color: #7c3d83;border-color: #7c3d83;}
.btn-secondary-outline-inverse {color: #fff;background-color: rgba(48, 52, 66, 0.5);background-image: none;border-color: #fff;}
.btn-secondary-outline-inverse.focus,.btn-secondary-outline-inverse:focus {color: #7c3d83;background-color: #fff;border-color: #fff;}
.btn-secondary-outline-inverse:hover {color: #7c3d83;background-color: #fff;border-color: #fff;}
.btn-secondary-outline-inverse.active,.btn-secondary-outline-inverse:active {color: #7c3d83;background-color: #fff;border-color: #fff;}
.btn-secondary-outline-inverse.active.focus,.btn-secondary-outline-inverse.active:focus,.btn-secondary-outline-inverse.active:hover,.btn-secondary-outline-inverse:active.focus,.btn-secondary-outline-inverse:active:focus,.btn-secondary-outline-inverse:active:hover {color: #7c3d83;background-color: #fff;border-color: #fff;}
.btn-secondary-inverse {color: #7c3d83;background-color: #fff;background-image: none;border-color: #fff;}
.btn-secondary-inverse.focus,.btn-secondary-inverse:focus {color: #fff;background-color: transparent;border-color: #fff;}
.btn-secondary-inverse:hover {color: #fff;background-color: transparent;border-color: #fff;}
.btn-secondary-inverse.active,.btn-secondary-inverse:active {color: #fff;background-color: transparent;border-color: #fff;}
.btn-secondary-inverse.active.focus,.btn-secondary-inverse.active:focus,.btn-secondary-inverse.active:hover,.btn-secondary-inverse:active.focus,.btn-secondary-inverse:active:focus,.btn-secondary-inverse:active:hover {color: #fff;background-color: transparent;border-color: #fff;}

/* Text */
.text-primary {color:#f3893d!important;}
.text-secondary {color:#7c3d83!important;}
.text-inverse {color:#fff!important;}
.text-main {color:#444!important;}
a.text-inverse {text-decoration: underline;}
a.text-inverse:hover{color:#dadada!important;}
a.text-primary:hover{color:#DE8115!important;}
a.text-secondary:hover {text-decoration: none; color: #a87dad!important; cursor:pointer;}
a.text-main {text-decoration: underline;}
a.text-main:hover {color:#908f8f!important;}


/* Grid system */
.no-gutter > [class*='col-'] {padding-right:0;padding-left:0;}
.lead {width:80%; margin:auto;}

/* Sections */
.section, .section-zebra, .section-inverse, .section-square, .section-square-inverse {padding:70px 0px;}
.section-zebra {background-color:#E6E6E6;}
.section-inverse, .bg-inverse {background-color:#65326B;color:#fff;}
.section-square {background-image: url(../images/pw_maze_black.png);color:#fff;}
.section-square-inverse {background-image: url(../images/pw_maze_white.png)}
.section li i.fa, .section-zebra li i.fa, .section-inverse li i.fa, .section-square li i.fa, .section-square-inverse li i.fa  {position: absolute; font-size: 18px;opacity: 0.5; margin-top: 2px;}
.section li p, .section-zebra li p, .section-inverse li p, .section-square li p, .section-square-inverse li p {padding-left: 25px;}
@media (max-width: 600px){
.section, .section-zebra, .section-inverse, .section-square, .section-square-inverse {padding:30px 0px;}
}

/* Nav */
.navbar {-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);}

.nav>li>p {padding-left: 15px;}
@media (max-width: 1000px) {
  .navbar-header {float: none;}
  .navbar-left,.navbar-right {float: none !important;}
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-fixed-top {top: 0;border-width: 0 0 1px;}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-nav {float: none!important;margin-top: 7.5px;}
  .navbar-nav>li {float: none;}
  .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
  .collapse.in{display:block !important;}
}

/* Jumbotron & complements */

.jumbotron{background: url(../images/coverPhoto.jpg) no-repeat #65326b;position: relative;overflow: hidden;background-size: cover!important; margin-bottom: 0px;}
.jumbotron .container {position: relative;color: #ffffff;z-index: 2;}
.jumbotron p {font-size: 130%;}

@media screen and (min-width: 768px){
  .jumbotron button {margin-left: -4px;} 
 .jumbotron {padding-top: 100px;/* padding-bottom: 100px;*/}
}
@media screen and (max-width: 767px){
  .jumbotron {padding-top: 50px; background: #3e2141;} 
}
.jumbotron.contacto {background: url(../images/coverContacto.jpg) no-repeat #65326b; min-height: 400px;}
.jumbotron.guadalajara, .jumbotron.queretaro, .jumbotron.monterrey, .jumbotron.distribuidores {padding:0; background: #65326b;}
.jumbotron.guadalajara .jumbo-info, .jumbotron.queretaro .jumbo-info, .jumbotron.monterrey .jumbo-info, .jumbotron.distribuidores .jumbo-info  {padding: 50px;}
.jumbotron.guadalajara .jumbo-photo, .jumbotron.queretaro .jumbo-photo, .jumbotron.monterrey .jumbo-photo, .jumbotron.distribuidores .jumbo-photo {background-color: #fff; padding-left: 50px;}
.logo-jumbo {margin:auto; width:80%;}
.logo-jumbo-sedes {width:50%; max-width:300px;}
.jumbotron-form-inline {background-color:#65326b; padding: 10px 0px 20px 0px;}

@media (min-width: 600px){
.jumbotron-form-inline .form-inline .form-group {/*display: inline-block; */vertical-align: bottom; padding-right: 10px;}
.jumbotron-form-inline .form-inline .form-control {display: block;}
}

#video-background{position: absolute;height: auto;width: auto;min-height: 100%;min-width: 100%;left: 50%;top: 50%;-webkit-transform: translate3d(-50%, -50%, 0);transform: translate3d(-50%, -50%, 0);z-index: 1;}

.jumbotron h1 {font-size: 2em; line-height: 1.3em;}

.scroll-to-next-section {position: absolute;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 42px;
    font-size: 40px;    
    text-align: center;}
.scroll-to-next-section a {
  color: #be9ec1;
  padding: 5px 12px;
  border: 2px solid #be9ec1;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);}
.scroll-to-next-section a:hover {color: #222; border-color: #222; text-decoration: none;}
.scroll-to-next-section a:focus {text-decoration: none;}
@media screen and (max-width: 991px){
.scroll-to-next-section a {background-color: transparent;}
}

.timeline .event p {padding-left: 0px!important;}
.timeline {position: relative; padding: 2.25em 3em; border-left: 4px solid #65326b; border-top: none;}
.timeline .event {border-bottom: 1px solid rgba(89, 89, 89, 0.14); padding-bottom: 2.25em; margin-bottom: 3em; position: relative;}
.timeline .event:last-of-type {padding-bottom: 0; margin-bottom: 0; border: none;}
.timeline .event:after {position: absolute; display: block;}
.timeline .event:after {box-shadow: 0 0 0 4px #65326b;left: -49px;background: #fff;border-radius: 50%;height: 11px;width: 11px;content: "";top: 5px;}
.timeline .event:last-of-type {padding-bottom: 0;margin-bottom: 0;border: none;}
.tab-responsive-active{cursor: pointer;background-color: #65326b; color:#fff; font-size: 20px; padding:15px; margin-bottom: 0px; }
.tab-responsive{cursor: pointer;background-color: rgba(148, 148, 148, 0.22); color:#65326b; font-size: 20px; padding:15px; margin-bottom: 0px;}
.tab-responsive:last-of-type, .tab-responsive-active:last-of-type {margin-top: 30px;}
.tab-responsive-active .fa {font-size: 16px; margin-top: 4px;} 

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {background-color: transparent;color: #fff;border: none;}
.nav-tabs > li.active,.nav-tabs > li:hover,.nav-tabs > li:focus { background: #65326b; }
.nav-tabs > li.active a,.nav-tabs > li:hover a,nav-tabs > li:focus a { color: #fff; }
.nav-tabs li:last-child { border-bottom: none; }
.nav-tabs > li > a {border: none;color: #65326b;font-size: 2em; background-color: rgba(148, 148, 148, 0.22);}
.nav > li > a:hover,.nav > li > a:focus {border: none;background-color: transparent;}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {border-radius: 0px;}
.event img {display:inline-block;}

.conf-module {padding-top: 15px;padding-bottom: 15px;}
.conf-image-profile {position:relative;}
.conf-image-profile span {position:absolute; color:#fff; padding:10px; background-color: #f3893d; top:0;}
.conf-image-profile a:hover span {background-color: #DE8115; font-size: 22px;}
.conf-image-profile .conf-logo {background-color: rgba(0,0,0,0.5);position: absolute;width: 100%;bottom:0;padding: 10px;}
.conf-image-profile .conf-logo img {margin: auto;}
.conf-image-profile a img.conf, a img.sponsor-image{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: .1s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .1s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .1s ease-in-out;
}    
.conf-image-profile a:hover img.conf, a:hover img.sponsor-image{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transition: .1s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .1s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .1s ease-in-out;
}

.conf-info-profile {background-color:#E0DFDF; padding:10px; line-height: 1em; color:#444; border-bottom: 4px solid #f3893d;}
.conf-info-profile p {font-size: 95%;}
.conf-info-profile p:first-child {font-size: 18px; font-weight: 700;}
@media (max-width: 510px){.conf-info-profile {height: 140px;}}

.well {padding: 50px;-webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.75);}
.panel-body {padding: 40px 20px;}

.venue{background-size: cover!important;position: relative;color:#fff;}
.venue.guadalajaraBG {background: url(../images/ciudades/GuadalajaraBG.jpg) center center no-repeat;}
.venue.monterreyBG {background: url(../images/ciudades/MonterreyBG.jpg) center center no-repeat;}
.venue.queretaroBG {background: url(../images/ciudades/QueretaroBG.jpg) center center no-repeat;}

.section li .long-icon .fa{font-size: 32px;border: 1px solid #54326b;padding: 18px;border-radius: 60px;display: inline-block;}
.long-icon-comp {padding-left: 82px!important;}

/* Google Maps */
.scrolloff {pointer-events: none;}

/* Agenda */
.conf-image-agenda {width:200px; margin:auto; margin-bottom: 20px;}
.conf-agenda {margin-left:30px;}
#ConferenciasInfo h3, #TalleresInfo h3 {margin-top: 0px;}

/*Contacto*/
/*#contact-box {background-color:#F9F9F9; width:120px; right:0px; z-index:1000; position:fixed; display:block; border:1px solid #e4e4e4;}
#contact-box:hover {background-color: #ececec;}
#contact-box a{ font-size: 12px; color:#8c8c8c; padding: 10px; display:block;}
#contact-box a:hover{ text-decoration: none;}
#contact-box-mobile {z-index: 500;position: fixed;text-align: center;width: 100%;}
#contact-box-mobile a {width: 100%;display:inline-block;background-color: #F9F9F9;border: 1px solid #e4e4e4;padding: 5px;color:#8c8c8c;}
#contact-box-mobile img {width:30px;}*/

/*Contacto*/
#contact-box {background-color:#65326b; width:120px; right:0px; z-index:1000; position:fixed; display:block; border:1px solid #49244f;}
#contact-box:hover {background-color: #49244f;}
#contact-box a{ font-size: 12px; color:#fff; padding: 10px; display:block;}
#contact-box a:hover{ text-decoration: none;}
#contact-box-mobile {z-index: 500;position: fixed;text-align: center;width: 100%; bottom:0;}
#contact-box-mobile a {width: 100%;display:inline-block;background-color: #65326b;border: 1px solid #49244f;padding: 5px;color:#fff;}
#contact-box-mobile img {width:30px;}

/*DatosMal*/
span.label-danger { position: absolute;/* background-color: #f2dede; color:#a94442;*/}
span.label-danger:before { border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 7px solid #d9534f;
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    bottom: 15px;
    left: 10px;}

#Agenda .label {border-radius: 0px;}
#Agenda .label-main {background-color:rgba(0, 0, 0, 0.75); margin-left:18px;}
#Agenda .label-primary {background-color:rgba(243, 137, 61, 0.75); margin-left:18px;}
#Agenda .label-secondary {background-color:rgba(101, 50, 107, 0.75); margin-left:18px;}

/*Social Media*/

.socialMedia a {margin:0px 15px;}

/* Banner */
.banner {background-color:#65326b; background-image: url(../images/pw_maze_black.png);}

.banner h3 {font-weight:bold; margin-bottom:0px;position: relative; padding:30px 0px;}
.banner img {position: absolute; z-index:1029; bottom:0;}
@media screen and (max-width: 768px){
  .banner h3 {padding:0;}
  .banner img {position:relative;} 
}



.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
